<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>List of owners</title>
    </head>
    <body>
        <h1 th:text="'List of owners'">List of owners...</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>City</th>
                <th>Telephone</th>
            </tr>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">John</td>
                <td th:text="${owner.lastName}">Doe</td>
                <td th:text="${owner.address}">123 Brickerel</td>
                <td th:text="${owner.city}">Miami</td>
                <td th:text="${owner.telephone}">14785236987</td>
            </tr>
        </table>
    </body>
</html>